@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quem Somos";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
    <section class="engine"><a href="https://mobirise.info/k">develop free website</a></section><section class="team1 cid-s1blgeujve" id="team1-9">



        <div class="container align-center">
            <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
                <strong>
                </strong><br><strong>Nosso Time..</strong><strong>&nbsp;&nbsp;</strong>
            </h2>
            <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">&nbsp;<strong>Trabalhamos com a ousadia de quem pensa grande, com inovação e olhar para o futuro.</strong></h3>
            <div class="row media-row">

                <div class="team-item col-lg-3 col-md-6">
                    <div class="item-image">
                        <img src="~/fe/images/img-1-510x721.jpeg" alt="" title="">
                    </div>
                    <div class="item-caption py-3">
                        <div class="item-name px-2">
                            <p class="mbr-fonts-style display-5">Guilherme Munerato</p>
                        </div>
                        <div class="item-role px-2">
                            <p>Developer</p>
                        </div>
                        <div class="item-social pt-2">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                                <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.instagram.com/mobirise/" target="_blank">

                            </a>
                            <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">

                            </a>
                        </div>
                    </div>
                </div><div class="team-item col-lg-3 col-md-6">
                    <div class="item-image">
                        <img src="~/fe/images/fatecteams-1-510x680.jpeg" alt="" title="">
                    </div>
                    <div class="item-caption py-3">
                        <div class="item-name px-2">
                            <p class="mbr-fonts-style display-5">
                                Leticia Boldo
                            </p>
                        </div>
                        <div class="item-role px-2">
                            <p>Developer</p>
                        </div>
                        <div class="item-social pt-2">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                                <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.instagram.com/mobirise/" target="_blank">

                            </a>
                            <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">

                            </a>
                        </div>
                    </div>
                </div><div class="team-item col-lg-3 col-md-6">
                    <div class="item-image">
                        <img src="~/fe/images/img-20200329-174150-510x583.jpeg" alt="" title="">
                    </div>
                    <div class="item-caption py-3">
                        <div class="item-name px-2">
                            <p class="mbr-fonts-style display-5">
                                Tiago Munerato
                            </p>
                        </div>
                        <div class="item-role px-2">
                            <p>Developer</p>
                        </div>
                        <div class="item-social pt-2">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                                <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                            <a href="https://www.instagram.com/mobirise/" target="_blank">

                            </a>
                            <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>