<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise Website Builder v4.12.3, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.12.3, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/fe/images/logo-pronto24-208x125.png" type="image/x-icon">
    <meta name="description" content="">


    <title>@ViewBag.Title | Deoclick</title>
    <link rel="stylesheet" href="~/fe/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/fe/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fe/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/fe/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/fe/socicon/css/styles.css">
    <link rel="stylesheet" href="~/fe/dropdown/css/style.css">
    <link rel="stylesheet" href="~/fe/animatecss/animate.min.css">
    <link rel="stylesheet" href="~/fe/tether/tether.min.css">
    <link rel="stylesheet" href="~/fe/theme/css/style.css">
    <link rel="stylesheet" href="~/fe/gallery/style.css">
    <link rel="preload" as="style" href="~/fe/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="~/fe/mobirise/css/mbr-additional.css" type="text/css">



</head>
<body>
    <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#top">
                            <img src="~/fe/images/logo-pronto24-208x125.png" alt="Deoclick" title="" style="height: 4.9rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-secondary display-2" asp-action="Index" asp-controller="Home">DeoClick</a></span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-secondary display-5" asp-action="Eventos" asp-controller="Home">Eventos</a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-secondary display-5" asp-action="Index" asp-controller="Home">Patrocinio</a></li>
                    <li class="nav-item">
                        <a class="nav-link link text-secondary display-5" asp-action="Index" asp-controller="Home">Contato&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-secondary display-5" asp-action="QuemSomos" asp-controller="Home">Quem Somos&nbsp;</a>
                        <!--Ver onde o quem somos vai ser-->
                    </li>
                </ul>
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-sm btn-white-outline display-7" asp-action="Login" asp-controller="Account">
                        <span class="mbri-login mbr-iconfont mbr-iconfont-btn">Login&nbsp;</span>
                    </a>
                </div>
            </div>
        </nav>
    </section>


    @RenderBody()


    <section class="cid-qTkAaeaxX5" id="footer1-2">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">

                        <a href="#top"><img src="~/fe/images/oie-transparent3-145x103.jpg" alt="Mobirise" title=""></a>

                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">Endereço</h5>
                    <p class="mbr-text">
                        Rua: Salles Leme,117
                        <br>Bairro: Centro<br>Barra Bonita, 1714000
                    </p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h5>
                    <p class="mbr-text">&nbsp;</p><p>&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br></p><p></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">&nbsp; Contato</h5>
                    <p class="mbr-text">
                        Email:
                        <br> tccdeoclicketec@gmail.com<br>Fone:
                        <br>(14) 991077116
                        <br>(14) 999043317&nbsp;<br><br>
                    </p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            © Copyright 2020 DeoClick - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/fe/web/assets/jquery/jquery.min.js"></script>
    <script src="~/fe/popper/popper.min.js"></script>
    <script src="~/fe/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/fe/smoothscroll/smooth-scroll.js"></script>
    <script src="~/fe/dropdown/js/nav-dropdown.js"></script>
    <script src="~/fe/dropdown/js/navbar-dropdown.js"></script>
    <script src="~/fe/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="~/fe/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="~/fe/parallax/jarallax.min.js"></script>
    <script src="~/fe/masonry/masonry.pkgd.min.js"></script>
    <script src="~/fe/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/fe/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/fe/tether/tether.min.js"></script>
    <script src="~/fe/vimeoplayer/jquery.mb.vimeo_player.js"></script>
    <script src="~/fe/theme/js/script.js"></script>
    <script src="~/fe/slidervideo/script.js"></script>
    <script src="~/fe/gallery/player.min.js"></script>
    <script src="~/fe/gallery/script.js"></script>
    <script src="~/fe/formoid/formoid.min.js"></script>


    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
</body>
</html>